.vignette {

  /*transform: translate(-50%, -50%);*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.subBall {
  width: 30px;
  height: 30px;
  background: #0077ab;
  border-radius: 100%;
  position: absolute;
  transition: all 0.5s ease;
  z-index: -1;

}

.bubble{
    margin: 7px;
    color:white;
}

.vignette.clicked .subBall.telephoneIcon {
  transform: rotate(-60deg) translate(-6em) rotate(60deg);

  transition: all 0.5s ease;
}

.vignette.clicked .subBall.databaseIcon {
  transform: rotate(-80deg) translate(-6em) rotate(80deg);
  transition: all 0.5s ease;
}

.vignette.clicked .subBall.versionIcon {
  transform: rotate(-100deg) translate(-6em) rotate(100deg);
  transition: all 0.5s ease;
}

.vignette.clicked .subBall.modifIcon {
  transform: rotate(-120deg) translate(-6em) rotate(120deg);
  transition: all 0.5s ease;
}

.more {
  font-size: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.more > span {
  color: #0077ab;
  display: block;
  font-style: italic;
  font-size: 25px;
}