.calendar__table{
    width: 100%;
    height: calc(100vh - 140px);
    background : white;
    
}

.calendar__table td{
    border : 2px solid #000;
    padding: 10px; 
    vertical-align: top;
    width: 14.28%;
    height: 20%;
}

.calendar__table--6weeks td{
    height: 16.66%!important;
}

.calendar__weekday{
    font-weight: bold;
    color:#000;
    font-size:1.2em;
}


.calendar__othermonth .calendar__day{
    opacity: 0.3;
   
}

.calendar__othermonth{
    background : #f2f2f2;
}



.today{
    color:red;
    font-weight: bold;
}

.redBar{
    border-left : 1px solid red;
   
    
}

.table td, .table th{
    padding: .25rem!important;
}

input[type="color"]{
    height: 38px;
    border-radius: 5px;
    border: none;
}

.loginInput{
    margin-bottom:0!important;
}

.bottomBar{
   width:100%; 
   border-bottom:solid 1px darkgrey; 
   padding-bottom : 15px;
}


.loader{
    position:absolute;
    background : rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 100%;
    height: 100%;        
}
.iconSpinner{

    left : 45%;
    color : white;
    position : relative;
    animation: a 3s infinite linear;
    margin-top: 80px;

}
.textLoader{
    color : white;
    text-align: center;
    font-size: x-large;


}