.clients{
    background-color: #504a4a;
}

body{

    background-color: #504a4a;

}

.vignette.v7{
    background-image: url("../img/v7_dark.png");
}

.vignette.v6{
    background-image: url("../img/v6_dark.png");
}

.vignette.v8{
    background-image: url("../img/v8_dark.png");
}

.vignette.none{
    background-image: url("../img/none_dark.png");
}

.vignette.ris{
    background-image: url("../img/ris_dark.png");
}

.vignette.pacs{
    background-image: url("../img/pacs_dark.png");
}

.vignette.ris-pacs{
    background-image: url("../img/ris_pacs_dark.png");
}



.vignette a{
    color:#cccccc;
}

.contenu_vignette{
    color:white;
}
    
.sidebar{
    background: black;
    background-image: url('../img/sidebarv2_dark.png');
    color: white;
}

.sidebar a{
    color: darkgrey;
}

.sidebar:not(.collapse) li:hover{
    background-color: #999;
    
}

.sidebar li:hover i{
    color:white;
    
}


.sidebar li:hover span{
    color:white;
    
}

.menu{
    background: black;
    color: white;
}

.menu a{
    color: white;
}

.title p{
    color:gainsboro;
}


.version{
    color:darkgrey;
}

.tag{
    color:darkgrey;
}

.iconVignette{
    color: black;
}

.v8.ville, .v8.villeBack{
    background-color: #585858;
}
.v7.ville, .v7.villeBack{
    background-color: #0071ab;
}

.v6.ville, .v6.villeBack{
    background-color: #9a7a1e;
}

.createIcon{
    color:black;
}

.resetIcon{
    color:black;
}

.backBtn{
    border: 1px solid #343a40!important;
    background-color: rgba(240, 242, 241, 0.2);
}

.activeSidebarElement i{
    color: #28a745!important;
}

.section{
    color:white;
}

.links a{
    text-decoration : none;
    color : white;
}

.h1Planning{
    color:white;
}


.phoneWithLink{
    color:white;
    background: #252424;
}

.phoneWithLinkv7{
    border: 1px solid #0071ab;
}

.phoneWithLinkv7 a{
    color : #0071ab;
}

.phoneWithLinkv7 .fa:not(.fa-arrows-alt-h){
    color : black;
}

.phoneWithLinkv8{
    border: 1px solid #585858;
}

.phoneWithLinkv8 a{
    color : #585858;
}

.phoneWithLinkv8 .fa:not(.fa-arrows-alt-h){
    color : black;
}

.phoneWithLinkv6{
    border: 1px solid #9a7a1e;
}

.phoneWithLinkv6 a{
    color : #9a7a1e;
}

.phoneWithLinkv6 .fa{
    color : black;
}

.phoneNumber{
    border-left: solid 1px darkgray;
}