.filterv8 a{
    color: #585858 !important;
}

.filterv7 a{
    color: #0071ab !important;
    
}

.filterv6 a{
    color: #9a7a1e !important;
    

}
.filterVersionHead{
    font-weight: bold;
    font-size: x-large!important;
    margin-top : -7px;
}

.filterUl{
   overflow-y: hidden;
/*   width: 75%;*/
   height: 60px;
}

.filter{
    position: absolute;
    right: -100px;
    transition: all 0.5s ease-out;
    opacity: 0;
}

.showFilter {
    transition: all 0.5s ease-out; 
    position: relative;
    right: 0;
    opacity: 1;
    
}

#navbarSupportedContent{
    display: flex!important;
    flex-flow: row nowrap;
    justify-content: flex-end;
}