.filterv8 a{
    color: #585858 !important;
}
.filterv8{
    border-color : #585858;
}

.filterv7 a{
    color: #0071ab !important;
}
.filterv7{
    border-color : #0071ab;
}

.filterv6 a{
    color: #9a7a1e !important;
}
.filterv6{
    border-color : #9a7a1e;
}


.searchActive{
    font-weight: bold;
    border-bottom-style:  solid;
    border-bottom-width : 5px ;
}


#searchActivity_None a{
    color: #f8f9fa !important;
}
#searchActivity_None{
    border-color : #f8f9fa;
}

#searchActivity_Ris a{
    color: #dc3545 !important;
}
#searchActivity_Ris{
    border-color : #dc3545;
}

#searchActivity_Pacs a{
    color: #28a745 !important;
}
#searchActivity_Pacs{
    border-color : #28a745;
}

#searchActivity_RisPacs a{
    color: #17a2b8 !important;
}
#searchActivity_RisPacs{
    border-color : #17a2b8;
}


.filterVersionHead{
    font-weight: bold;
    font-size: x-large!important;
    margin-top : -7px;
}

.filterUl{
   overflow-y: hidden;

}

.filter{
    position: absolute;
    right: -100px;
    transition: all 0.5s ease-out;
    opacity: 0;
/*    width: 0;*/
}

.showFilter {
    position: relative;
    right: 0;
    opacity: 1;
    /*width : 10px;*/
    
}

#navbarSupportedContent{
    display: flex!important;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.filterParent{
     transition: all 0.5s ease-out;
     width: 105px;
     white-space: nowrap;
   
}

.searchActivev8{
    font-weight: bold;
    border-bottom: solid 5px #585858;
}

.searchActivev7{
    font-weight: bold;
    border-bottom: solid 5px #0071ab;
}

.searchActivev6{
    font-weight: bold;
    border-bottom: solid 5px #9a7a1e;
}

.searchActiveRis{
    font-weight: bold;
    border-bottom: solid 5px red;
}

.searchActivePacs{
    font-weight: bold;
    border-bottom: solid 5px green;
}

.searchActiveRisPacs{
    font-weight: bold;
    border-bottom: solid 5px purple;
}

.searchActiveNone{
    font-weight: bold;
    border-bottom: solid 5px white;
}