.clients{
    background-color: #f1f1f1;
}

body{
    background-color: #f1f1f1;
}

.vignette.v7{
    background-image: url("../img/v7.png");
}

.vignette.v6{
    background-image: url("../img/v6.png");
}

.vignette.v8{
    background-image: url("../img/v8.png");
}


.vignette.none{
    background-image: url("../img/none.png");
}

.vignette.ris{
    background-image: url("../img/ris.png");
}

.vignette.pacs{
    background-image: url("../img/pacs.png");
}

.vignette.ris-pacs{
    background-image: url("../img/ris_pacs.png");
}

.vignette a{
    color:black;
}

.contenu_vignette{
    color:black;
}

    
.sidebar{
    background: black;
    background-image: url('../img/sidebarv2.png');
    color: black;
}

.sidebar a{
    color: darkgrey;
}

.sidebar a:hover{
    background-color: #999;
    color:white;
}

.menu{
    background: white;
    color: black;
}

.menu a{
    color: black;
}

.title p{
    color:grey!important;
}


.version{
    color:darkgrey;
}

.tag{
    color:darkgrey;
}

.iconVignette{
    color: black;
}

.v8.ville, .v8.villeBack{
    background-color: #cacaca;
}
.v7.ville, .v7.villeBack{
    background-color: #87cdf1;
}

.v6.ville, .v6.villeBack{
    background-color: #f6e18b;
}

.backBtn{
    background-color: rgba(212, 212, 212, 0.2);
    border: 1px solid #f8f9fa;
}

.activeSidebarElement i{
    color: #28a745!important;
}