.phoneWithLink{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    /*margin-left: 20px;*/
    display : flex;
    flex-flow : row wrap;
    justify-content:flex-start;
    
    
    transition: all 0.5s ease;
}

.collapsePhone{
    width: 100%;
}


.fa-arrows-alt-h{
    color: #1e90ff!important;
}


.phoneNumber{
    text-transform: capitalize;
    padding-right:  5px;
    /*padding-left:   5px;*/
    padding-bottom:10px;
    
    width: 225px;
}
