.content{
    display: flex;
    flex-flow: row wrap;
}

.clients{
    display: flex;
    /*height: 100vh;*/
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #f1f1f1;
    margin-left:286px;
    margin-top:60px;
}

.vignette{
    margin : 1px;
    width:  150px;
    height: 150px;   
    text-align: center;
    text-transform:  capitalize; 
    transition: visibility 0.5s;
    /*border: solid 1px black;*/
}

.vignette.v7{
    background-image: url("../img/v7.png");
}

.vignette.v6{
    background-image: url("../img/v6.png");
}

.vignette.v8{
    background-image: url("../img/v8.png");
}

.vignette a{
    color:black;
    text-decoration: none;
}


.contenu_vignette:hover  .infoClient{
    transform: scale(0.8);
    text-decoration: none;
}

.contenu_vignette:hover  .version{
    display: flex;
}

.contenu_vignette:hover  .tag{
    display: none;
}


.contenu_vignette{
    color:black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-bottom : 10px;
    display:flex;
    flex-flow: column;
}

    
.sidebar{
    width: 285px;;
    display: flex;
    flex-flow: column wrap;
    background: black;
    background-image: url('../img/sidebarv2.png');
    color: white;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    margin-top:60px;
       
}

.sidebar a{
    text-decoration: none;
    color: darkgrey;
    padding-left:50px;
    text-transform: uppercase;
    line-height: 2.3;
    
    
}
.sidebar a:hover{

    background-color: #999;
    color:white;
    
}

.sidebar hr{
    
    margin-left: 50px!important;
    margin-right: 70px!important;
    
}


.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    flex-flow: row wrap;
    background: white;
    color: black;
    position: fixed;
    padding-left : 100px;
    padding-right : 100px;
    width: 100%!important;
}


.menu a{
    text-decoration: none;
    color: black;
}

.filters{
    display: flex;
    flex-flow: row wrap;
}


.logo img{
    height:100px;
    
}

.title p::first-letter{
    color:darkgreen;
}

.title p{
    line-height: 0.5;
    color:white;
}
.title{
    padding-left:5px;
    padding-top:20px;
}

.version{
    line-height: 0.5;
    color:darkgrey;
    font-size: small;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: visibility  0.5s;
    display : none;
     
}

/*.infoClient p{
    
    padding-bottom:0;
    margin-bottom:0;
}*/

.infoClient{
    transition: transform 0.5s ease-in-out;
    line-height: 1.2;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0; 
}

.tag{
    font-size:x-small;
    color:darkgrey;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: visibility  0.5s;
    height: 100%;

    
}

.iconVignette{
    
    color: black;
    margin-right : 10px;
    margin-left: 10px;
}

.fa-phone{
    transform: rotate(90deg)
}

.searchBar{
    border-radius: 0!important;
}

.navbar ul{
    margin-right:15px;
}



.ville{
    padding-top: 10px;
    padding-bottom: 10px;
}
.v7.ville{
    background-color: #87cdf1;
}

.v6.ville{
    background-color: #f6e18b;
}

