.content{
    display: flex;
    flex-flow: row wrap;
}

.clients{
    display: flex;
    /*height: 100vh;*/
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    width: 85%;  
}

.vignette{
    margin : 1px;
    width:  150px;
    height: 150px;
    background-color: #ccc;   
    text-align: center;
    text-transform:  capitalize;
     transition: transform .2s;
    
}


.contenu_vignette:hover  {
    transform: scale(1.1);
    text-decoration: none;
}

.vignette a{
    color:black;
    text-decoration: none;
}

.contenu_vignette{
    color:black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding : 10px;
}

    
.sidebar{
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    background: black;
    color: white;
    height: 100vh;
    
}

.sidebar a{
    text-decoration: none;
    color: white;
}


.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-around;
    flex: wrap;
    width: 100%;
    background: black;
    color: white;
}


.menu a{
    text-decoration: none;
    color: white;
}

