.content{
    display: flex;
    flex-flow: row wrap;
    
    
  
}

.clients{
    display: flex;
    /*height: 100vh;*/
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    
    margin-left:286px;
    margin-top:60px;
}

.vignette{
    margin : 1px;
    width:  150px;
    height: 150px;
    background-color: #ccc;   
    text-align: center;
    text-transform:  capitalize;   
}


.contenu_vignette:hover  {
    transform: scale(0.8);
    text-decoration: none;
}

.vignette a{
    color:black;
    text-decoration: none;
}

.contenu_vignette{
    color:black;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding : 10px;
    transition: transform 0.3s ease-in-out;
}

    
.sidebar{
    width: 285px;;
    display: flex;
    flex-flow: column wrap;
    background: black;
    color: white;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    margin-top:60px;
    
}

.sidebar a{
    text-decoration: none;
    color: darkgrey;
    padding-left:50px;
    text-transform: uppercase;
    line-height: 2.3;
    
    
}
.sidebar a:hover{

    background-color: #999;
    color:white;
    
}



.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    background: white;
    color: black;
    position: fixed;
}


.menu a{
    text-decoration: none;
    color: black;
}


.logo img{
    height:100px;
    
}

.title p::first-letter{
    color:darkgreen;
}

.title p{
    line-height: 0.5;
    color:white;
}
.title{
    padding-left:5px;
    padding-top:20px;
}