.content{
    display: flex;
    flex-flow: row wrap;
}

.clients{
    display: flex;
    /*height: 100vh;*/
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 286px;
    margin-top: 60px;
    width: 100%;
    transition: all 0.5s ease;
}

#sidebar.collapsed + .clients{
    margin-left:80px!important;
}

.vignette{
    margin : 3px;
    width:  150px;
    height: 150px;   
    text-align: center;
    text-transform:  capitalize; 
    transition: visibility 0.5s;
    /*border: solid 1px black;*/
}

.vignette a{
    text-decoration: none;
}


.contenu_vignette:hover  .infoClient{
    transform: scale(0.9);
    text-decoration: none;
}

.contenu_vignette:hover  .version{
   
    opacity: 1;
}

.contenu_vignette:hover  .tag{
    opacity: 0;
}

.contenu_vignette:hover  hr{
    width:100%;
}


.contenu_vignette{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-bottom : 10px;
    display:flex;
    flex-flow: column;
}

    
.sidebar{
    width: 285px;;
    display: flex;
    flex-flow: column wrap;
    height: calc(100vh - 60px);
    position: fixed;
    overflow-x: hidden;
    margin-top:60px;
    z-index: 9;
       
}

.sidebar a{
    text-decoration: none;
    padding-left:50px;
    text-transform: uppercase;
    line-height: 2.3;
    
    
}

.sidebar hr{
    
    margin-left: 50px!important;
    margin-right: 70px!important;
    
}


.menu{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    flex-flow: row wrap;
    position: fixed;
    padding-left : 100px;
    padding-right : 100px;
    width: 100%!important;
    z-index: 8;
}


.menu a{
    text-decoration: none;
}

.filters{
    display: flex;
    flex-flow: row wrap;
}


.logo img{
    height:100px;
}

.title p::first-letter{
    color:#28a745;
}

.title p{
    line-height: 0.5;
    color:white;
}
.title{
    padding-left:5px;
    padding-top:20px;
}

.version{
    line-height: 0.5;
    font-size: small;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: opacity 1s;
    opacity: 0;
    display : flex;
     
}

/*.infoClient p{
    
    padding-bottom:0;
    margin-bottom:0;
}*/

.infoClient{
    transition: transform 0.5s ease-in-out;
    line-height: 1.2;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 1em 0;
    padding: 0; 
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
}

.tag{
    font-size:x-small;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    transition: opacity  1s;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    width: 100%;

    
}

.iconVignette{
    
    margin-right : 10px;
    margin-left: 10px;
}

.fa-phone{
    transform: rotate(90deg)
}

.searchBar{
    border-radius: 0!important;
}

.navbar ul{
    margin-right:15px;
}

.ville{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pulse {
  display: block;  
  box-shadow: 0 0 0 rgba(40,167,69, 0.8);
  animation: pulse 0.8s 5;
  z-index: 9;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(40,167,69, 0.8);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(40,167,69, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(40,167,69, 0);
  }
}

@keyframes pulse {
  0% {
     box-shadow: 0 0 0 0 rgba(40,167,69, 0.8);
  }
  70% {
     
      box-shadow: 0 0 0 10px rgba(40,167,69, 0);
  }
  100% {
      
      box-shadow: 0 0 0 0 rgba(40,167,69, 0);
  }
}

#sidebar{
    transition: all 0.5s ease;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.collapsed {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    font-size: x-small;

   
}

#sidebar.collapsed .sidebarLabel{
    display: none;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.collapsed .sidebar-header h3 {
    display: none;
}
#sidebar.collapsed .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.collapsed ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
#sidebar.collapsed hr {
    margin:0!important;
}

#sidebar.collapsed ul li a i {
    margin-right:  0;
    padding-top: 30px;
    font-size: 1.8em;
    margin-bottom: 5px;
}



#sidebarCollapse{
        position: absolute;
        bottom: 50px;
        width: 100%
}
#sidebar.collapsed #toogleSidebar{
    transform: rotate(180deg);
    
}

#toogleSidebar{
   
    transition: all 0.5s ease;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#54DE5D))
}

.nom{
    padding-left: 5px;
    padding-right: 5px;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}